.about {
    margin-bottom: 30px;
}

.about__title {
    margin: 0;
    margin-bottom: 25px;
    font-family: OpenSansBold;
    font-size: 25px;
    color: #000000;
}

.about__list {
    margin: 0;
    padding: 0;

    list-style-type: none;

    display: flex;
    flex-direction: column;

}

.about__item {
    padding: 0;
    padding-top: 55px;
    margin: 0;
    margin-bottom: 30px;

    font-family: OpenSansBold;
    color: #000000;

    background-repeat: no-repeat;

    &_1{
        background-image: url('/img/icon-feature-flower.svg');
    }
    &_2{
        background-image: url('/img/icon-feature-money.svg');
    }
    &_3{
        background-image: url('/img/icon-feature-heart.svg');
    }
    &_4{
        background-image: url('/img/icon-feature-ball.svg');
    }
    &_5{
        background-image: url('/img/icon-feature-rocket.svg')
    }
    &_6{
        background-image: url('/img/icon-feature-gift.svg');
    }

}

@media (min-width: $tablet-width)  {

    .about__title {
        font-size: 43px;
        margin-bottom: 50px;
    }

    .about__list {
        flex-direction: row;
    }

    .about__column {
        &:nth-child(1) {
            width: 240px;
            margin-right: 80px;
        }

        &:nth-child(2) {
            width: 300px;
        }
    }

    .about__item {
        font-size: 20px;
        margin-bottom: 60px;
    }
}

@media (min-width: $desktop-width) {

    .about__wrapper {
        margin: 0 175px;
    }

    .about__title {
        font-size: 53px;
    }

    .about__column {
        
        &:nth-child(1) {
            margin-right: 110px;
        }
        
    }
}