.footer{
    background-color: #f1f1f1;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
}

.footer__logo {
    display: none;
}

.social {
    margin: 0;
    padding: 0;
    padding: 30px 60px;

    list-style-type: none;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    border-bottom: solid 1px #e5e5e5;
}

.social__img {
    color: #231F20;
}

.social__link:hover .social__img{
    color: #63d1bb;
}

.social__link:active .social__img{
    color: #63d1bb;
    opacity: 0.3;
}

.footer__copyright {
    margin: 0;
    padding: 30px 40px;

    font-family: OpenSansBold;
}

.footer__copyright-link {
    color: #000000;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright-logo {
    margin-left: 34px;

    color: #63d1bb;
}

@media (min-width: $tablet-width) {

    .footer__logo {
        display: block;
        padding: 53px 0;
        margin: 0;
        // margin-right: 70px;
    }

    .footer__logo-img {
        color: #231F20;
    }

    .footer__logo-link:hover .footer__logo-img{
        color: #63d1bb;
    }

    .footer__logo-link:active .footer__logo-img{
        color: #63d1bb;
        opacity: 0.6;
    }

    .footer__wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .social {
        width: 140px;
        justify-content: space-between;
        padding: 0px;
        border: none;
    }

    .footer__copyright {
        padding: 0px;

        &:active {
            opacity: 0.3;
        }
    }

    .footer__copyright:hover .footer__copyright-logo,
    .footer__copyright:active .footer__copyright-logo {
        color: #46c1ae;
    }

}