.header .container {
    width: 320px;
    padding: 0;
}

.header__logo {
    margin: 0;
    padding: 0;
    padding: 20px 0;
    position: relative;

    border-bottom: solid 1px #ececec;
}

.logo__img {
    display: block;
    margin: 0 auto;
}

.logo__mobile-menu {
    position: absolute;
    // right: 30px;
    // bottom: 30px;
    // width: 20px;
    // height: 14px;
    // background-image: url('/img/icon-menu-open.svg');
    right: 30px;
    bottom: 25px;
    width: 21px;
    height: 21px;
    background-image: url('/img/icon-menu-close.svg');
    background-repeat: no-repeat;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.navigation__item {
    padding: 25px 0 25px 75px;
    border-bottom: solid 1px #ececec;
}

.navigation__link {
    font-family: OpenSansBold;

    text-decoration: none;
    color: #000000;
}

.navigation__button {
    font-family: OpenSansBold;
    padding: 0;

    border: none;
    background-color: transparent;

    cursor: pointer;
}

.navigation__icon {
    display: none;
}

.promo__ad-menu {
    display: none;
}

@media (min-width: $tablet-width) {

    .header {
        border-bottom:  solid 1px #ececec;
    }

    .header .container {
        width: 668px;
        padding: 0 50px;
    }

    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;
    }

    .header__logo {
        border-bottom: none;
        padding: 21px 0;
    }

    .logo__img {
        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.3;
        }
    }

    .logo__mobile-menu {
        display: none;
    }
    
    .navigation__list {
        flex-direction: row;
    }

    .navigation__links, .navigation__buttons {
        display: flex;
    }

    .navigation__link {

        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.3;
        }
    }

    .navigation__links {
        position: absolute;
        z-index: 2;
        bottom: -70px;
        left: 0;
    }

    .navigation__links .navigation__item {
        padding: 0;
        padding: 25px 40px 25px 0;

        font-size: 15px;
    }

    .navigation__item {
        margin: 0;
        padding: 35px 0 35px 30px;
        border-bottom: none;
    }

    .navigation__button {
        &:hover {
            color: #8d8d8d;
        }

        &:active {
            opacity: 0.3;
        }
    }

    .navigation__button:hover .navigation__icon {
        color: #63d1bb;
    }

    .navigation__icon {
        display: inline-block;
        padding-right: 30px;
        color: #d3d2d2;
    }

    .navigation__search {
        border-left: solid 1px #ececec;
        border-right: solid 1px #ececec;
    }

    .navigation__text_search {
        display: none;
    }

    .promo__ad-menu {
        display: block;
        padding-top: 27px;

        position: absolute;
        z-index: 2;
        right: 50px;
    }

    .ad-menu__list {
        display: flex;
        flex-direction: row;

        margin: 0;
        padding: 0;
        
        list-style-type: none;
        font-size: 15px;
    }

    .ad-menu__link {
        display: none;

        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.3;
        }
    }
}

@media (min-width: $desktop-width) {

    .header .container {
        width: 1050px;
        padding: 0 50px;
    }


    .logo {
        position: absolute;
        left: 450px;
    }

    .navigation {
        width: 100%;
    }

    .navigation__list {
        justify-content: space-between;
    }

    .navigation__links {
        position: static;
        display: flex;
    }

    .navigation__links .navigation__item {
        padding: 0;
        padding: 35px 0;

        font-size: 17px;

        &:nth-child(1) {
            padding-right: 35px;
            border-right: solid 1px #ececec;
        }

        &:nth-child(2) {
            padding-left: 35px;
        }
    }

    .ad-menu__list {
        justify-content: flex-start;
    }

    .ad-menu__item {

        &:nth-child(1) {
            margin-right: 60px;
        }

        &:nth-child(2) {
            margin-right: 505px;
        }
    }

    .ad-menu__link {
        display: block;

        font-family: OpenSansBold;
        text-decoration: none;
        color: #000000;
    }

}