.header .container {
    width: 320px;
    padding: 0;
}

.header__logo {
    margin: 0;
    padding: 0;
    padding: 20px 0;
    position: relative;

    border-bottom: solid 1px #ececec;
}

.logo__img {
    display: block;
    margin: 0 auto;
}

.logo__mobile-menu {
    position: absolute;
    // right: 30px;
    // bottom: 30px;
    // width: 20px;
    // height: 14px;
    // background-image: url('/img/icon-menu-open.svg');
    right: 30px;
    bottom: 25px;
    width: 21px;
    height: 21px;
    background-image: url('/img/icon-menu-close.svg');
    background-repeat: no-repeat;
}


.navigation {
    display: flex;
    flex-direction: column;
}


.navigation__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.navigation__item {
    padding: 25px 0 25px 75px;
    border-bottom: solid 1px #ececec;
}

.navigation__link {
    font-family: OpenSansBold;

    text-decoration: none;
    color: #000000;
}

.navigation__button {
    font-family: OpenSansBold;
    padding: 0;

    border: none;
    background-color: transparent;

    cursor: pointer;
}

@media (min-width: $tablet-width) {

    .header {
        border-bottom:  solid 1px #ececec;
    }

    .header .container {
        width: 668px;
        padding: 0 50px;
    }

    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;
    }

    .header__logo {
        border-bottom: none;
        padding: 21px 0;
    }

    .logo__mobile-menu {
        display: none;
    }
    
    .navigation__list {
        flex-direction: row;
    }

    .navigation__links, .navigation__buttons {
        display: flex;
    }

    .navigation__links {
        position: absolute;
        z-index: 2;
        bottom: -70px;
        left: 0;
    }

    .navigation__links .navigation__item {
        padding: 0;
        padding: 25px 40px 25px 0;

        font-size: 15px;
    }

    .navigation__item {
        margin: 0;
        padding: 35px 0 35px 80px;
        border-bottom: none;

    }

    .navigation__search {
        position: relative;
        border-left: solid 1px #ececec;
        border-right: solid 1px #ececec;

        &:before {
            content: '';
            position: absolute;
            background-image: url('/img/icon-search.svg');
            background-repeat: no-repeat;
            opacity: 0.3;

            width: 18px;
            height: 18px;
            right: 30px;
        }
    }

    .navigation__text_search {
        display: none;
    }

    .navigation__cart {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            background-image: url('/img/icon-cart.svg');
            background-repeat: no-repeat;
            opacity: 0.3;

            width: 20px;
            height: 19px;
            left: 30px;
        }
    }
}

@media (min-width: $desktop-width) {

    .header .container {
        width: 1050px;
        padding: 0 50px;
    }


    .logo {
        position: absolute;
        left: 450px;
    }

    .navigation {
        width: 100%;
    }

    .navigation__list {
        justify-content: space-between;
    }

    .navigation__links {
        position: static;
        display: flex;
    }

    .navigation__links .navigation__item {
        padding: 0;
        padding: 35px 0;

        font-size: 17px;

        &:nth-child(1) {
            padding-right: 35px;
            border-right: solid 1px #ececec;
        }

        &:nth-child(2) {
            padding-left: 35px;
        }
    }

}