.production__wrapper {
    margin-bottom: 60px;
    border: solid 1px #ececec;

    position: relative;
}

.production__heading {
    margin: 0;
    margin-bottom: 210px;
    padding-top: 30px;
    padding-left: 90px;

    background-image: url('/img/icon-video.svg');
    background-repeat: no-repeat;
    background-position: 30px 30px;

    font-family: OpenSansBold;
    font-size: 17px;
}

.production__video {
    position: absolute;
    top: 100px;

    margin-bottom: 30px;

    &:before {
        content: '';
        position: absolute;
        width: 101px;
        height: 76px;

        background-image: url('/img/icon-play.svg');

        left: 75px;
        top: 40px;

        cursor: pointer;

        transition: 0.4s;

        &:active{
            transform: scale(0.8, 0.8);
            opacity: 0.6;
        }
    }
}

.production__text {
    margin: 0;
    margin-bottom: 30px;
    padding: 0 30px;

    font-size: 13px;
    line-height: 24px;
}

.production__button {
    width: 206px;
    padding: 17px 0px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: transparent;
    border: 2px solid #444444; 

    font-family: OpenSansBold;
    font-size: 17px;
    color: #444444;
    text-align: center;
    text-transform: uppercase;

    cursor: pointer;
}

@media (min-width: $tablet-width) {
    .production__wrapper {
        display: flex;
        flex-direction: column;
        border: none;
    }

    .production__video {
        position: static;
        margin-bottom: 0;

        &:before {

            left: 285px;
            top: 200px;

            &:hover {
                transform: scale(1.2, 1.2);
            }
        }

    }

    .production__video-mock {
        display: block;
    }

    .production__info {
        border: solid 1px #ececec;
    }

    .production__heading {
        font-size: 20px;
        background-position: 40px 25px;

        margin-bottom: 40px;
    }

    .production__text {
        padding-left: 40px;
        font-size: 15px;
        line-height: 30px;
    }

    .production__button {
        width: 580px ;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

@media (min-width: $desktop-width) {

    .production__wrapper {
        flex-direction: row;
    }
    
    .production__info {
        padding-left: 80px;
    }

    .production__heading {
        padding-top: 100px;
        padding-left: 0;

        width: 150px;

        background-position: 0 50px;
    }

    .production__text {
        padding-left: 0;
    }

    .production__button {
        width: 230px;
        margin: 0;
    }
}