.promo {
    margin-bottom: 30px;
}

.promo .container {
    padding: 0;
    width: 320px;

    background-image: url('/img/hero-mobile@1x.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promo__ad-menu {
    display: none;
}

.promo__lead {
    display: block;
    margin: 0px auto 120px;
    padding: 70px 30px 0;

    font-family: OpenSansBold;
    font-size: 27px;
    color: #000000;

    text-align: center;
}

.promo__list {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    list-style-type: none;
}

.promo__item {
    padding: 25px 0 30px 30px;

    &_interior {
        background-color: #63d1bb;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            background-image: url('/img/icon-interior.svg');
            background-repeat: no-repeat;

            height: 66px;
            width: 43px;

            right: 35px;
        }
        
    }

    &_toys {
        background-color: #56c3b2;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            background-image: url('/img/icon-toy.svg');
            background-repeat: no-repeat;

            height: 66px;
            width: 60px;

            right: 28px;
        }
    }
}

.promo__link {
    display: inline-block;
    width: 130px;
    color: #ffffff;
    font-family: OpenSansBold;
    font-size: 19px;
    text-decoration: none;
    line-height: 24px;
}

@media (min-width: $tablet-width) {

    .promo {
        margin-bottom: 60px;
    }

    .promo .container {
        width: 668px;
        padding: 0 50px;

        background-image: url('/img/hero-tablet@1x.jpg');
    }

    .promo__ad-menu {
        display: block;
        padding-top: 27px;
    }

    .promo__lead {
        display: block;
        font-size: 43px;
        padding: 0;
        margin: 110px auto 370px;
    }

    .ad-menu__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        margin: 0;
        padding: 0;
        
        list-style-type: none;
        font-size: 15px;
    }

    .ad-menu__link {
        display: none;

        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.3;
        }
    }

    .promo__list {
        flex-direction: row;
    }

    .promo__item {
        width: 100%;

        padding: 30px 0 35px 30px;

    }
}

@media (min-width: $desktop-width) {

    .promo .container {
        width: 1050px;
        padding: 0 50px;

        background-image: url('/img/hero-desktop@1x.jpg');
    }

    .promo__lead {
        margin: 0;
        margin: 120px auto 360px;

        width: 620px;

        font-size: 53px;
    }

    .ad-menu__list {
        justify-content: flex-start;
    }

    .ad-menu__item {

        &:nth-child(1) {
            margin-right: 60px;
        }

        &:nth-child(2) {
            margin-right: auto;
        }
    }

    .ad-menu__link {
        display: block;

        font-family: OpenSansBold;
        text-decoration: none;
        color: #000000;
    }



}