.review__title {
    margin: 0;
    margin-bottom: 25px;
    font-family: OpenSansBold;
    font-size: 25px;

    color: #000000;
}

.review__wrapper {
    display: flex;
    flex-direction: column;
}

.review__text {
    margin: 0;
    margin-bottom: 30px;

    font-size: 15px;
    line-height: 30px;
}

.review__author {
    color: #000000;
    margin: 0;
    margin-bottom: 40px;
}

.review__author-name {
    font-family: OpenSansBold;

    display: block;
    margin-bottom: 10px;
}

.review__button {
    display: inline-block;
    margin: 0;
    margin-bottom: 40px;
    width: 130px;
    height: 50px;
    box-sizing: border-box;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;

    border: solid 1px #ececec;

    cursor: pointer;

    &_prev {
        background-image: url('/img/icon-left-arrow.svg');
    }

    &_next {
        background-image: url('/img/icon-right-arrow.svg');
    }
}

.review__message-button {
    width: 100%;
    padding: 17px 0px;
    margin-bottom: 40px;
    background-color: transparent;
    border: 2px solid #444444; 

    font-family: OpenSansBold;
    font-size: 17px;
    color: #444444;
    text-align: center;
    text-transform: uppercase;

    cursor: pointer;
}

@media (min-width: $tablet-width) {

    .review {
        background-image: url('/img/review@1x.jpg');
        background-repeat: no-repeat;

        margin-bottom: 150px;
    }

    .review__wrapper {
        position: relative;
    }

    .review__title {
        font-size: 43px;
        margin: 80px 0 50px;
    }

    .review__text {
        font-size: 17px;
        margin-bottom: 60px;
    }

    .review__wrapper_sm {
        display: flex;
        justify-content: space-between;

        margin-bottom: 50px;
    }

    .review__author {
        margin: 0;
    }

    .review__button {
        border: none;
        width: 85px;
        margin: 0;
    }

    .review__message-button {
        position: absolute;
        width: 175px;
        right: 0;
        top: 80px;
    }
}