.top-product__name {
    position: relative;

    display: inline-block;
    font-family: OpenSansBold;
    font-size: 25px;
    
    margin-bottom: 40px;

    &:after {
        content: 'Товар недели';

        position: absolute;

        left: 0;
        top: 35px;

        font-family: OpenSansBold;
        font-size: 15px;

        text-transform: uppercase;
        color: #63d1bb;
    }
}

.top-product__title {
    font-family: OpenSansBold;
    font-size: 17px;
    
    color: #63d1bb;
}

.top-product__description {
    font-size: 15px;
    line-height: 24px;

    margin: 0;
    margin-bottom: 30px;
}

.top-product__characteristics {
    margin-bottom: 30px;
}

.characteristics {
    border-collapse: collapse;
    width: 260px;

    margin-bottom: 375px;
}


.characteristics__single {
    border-bottom: solid 1px #ececec;
}

.characteristics__item {
    padding: 14px 0;
    text-align: left;

    font-size: 15px;
}

.characteristics__type {
    font-weight: normal;
}

.characteristics__value {
    padding-left: 30px;
}

.top-product__price {
    position: relative;
}

.top-product__price {
    margin: 0;
    margin-bottom: 30px;

    font-family: OpenSansBold;
    font-size: 17px;

    text-align: center;
}

.top-product__order-button {
    width: 100%;
    padding: 17px 0px;
    margin-bottom: 40px;
    background-color: transparent;
    border: 2px solid #444444; 

    font-family: OpenSansBold;
    font-size: 17px;
    color: #444444;
    text-align: center;
    text-transform: uppercase;

    cursor: pointer;
}

.top-product__image {
    position: absolute;
    top: 330px;
}

@media (min-width: 768px) {

    .top-product__wrapper {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .top-product__name {
        font-size: 47px;
        margin-bottom: 50px;

        &:after {
            left: 580px;
            top: 15px;

            text-align: center;
        }
    }

    .top-product__info {
        width: 290px;
    }

    .top-product__description {
        margin-bottom: 45px;
    }

    .characteristics {
        margin-bottom: 50px;
    }

    .top-product__image {
        position: static;
        padding-top: 7px;
    }
}